{% extends "base.html" %}
{% load i18n avatar_tags %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}ingc_geonode_theme/css/site_base.css" rel="stylesheet"/>
{% endblock %}

 <!-- Navbar -->
    {% block header %}
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container">
        <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <i class="fa fa-navicon fa-lg"></i>
	      </button>
	      <a class="navbar-brand" href="{% url "home" %}">GeoNode</a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav toolbar">
	        {% block tabs %}
            <li id="nav_maps">
              {% if user.is_authenticated %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Maps" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Maps" %}</a></li>
                <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
              </ul>
              {% else %}
              <a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Maps" %}</a>
              {% endif %}
            </li>
	        <li id="nav_layers">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Data" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a></li>
                <li><a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a></li>
                {% if 'geonode.contrib.createlayer' in INSTALLED_APPS %}
                  <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
                {% endif %}
                <li><a href="{% url "document_upload" %}">{% trans "Upload Document" %}</a></li>
                <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                {% endif %}
              </ul>
            </li>

	    {% block extra_tab %}
            <li class="dropdown" id="nav_geosafe">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                       {% trans "GeoSAFE" %}
                       <i class="fa fa-angle-down fa-lg"></i>
                   </a>
                   <ul class="dropdown-menu">
                       <li><a href="{% url "geosafe:analysis-create" %}">{% trans "Create Analysis" %}</a></li>
                       <li><a href="{% url "geosafe:analysis-list" %}">{% trans "Analysis List" %}</a></li>
                       <li><a href="{% url "geosafe:metasearch" %}">{% trans "MetaSearch" %}</a></li>
                       <li><a href="https://raw.githubusercontent.com/kartoza/ingc_geonode_theme/develop/docs/GeoSAFE_User_Documentation.pdf">{% trans "Download User Manual" %}</a></li>
                   </ul>
               </li>
            {% endblock %}
            {% endblock %}
          </ul>
	      <ul class="nav navbar-nav navbar-right">
          <li>
            <a style="font-size: 20px" class="btn btn-warning font-white" href="{% url "geosafe:analysis-create" %}">
                    {% trans "Run Analysis" %}
            </a>
              </li>
            {% if user.is_authenticated %}
            <li>
              <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {% autoescape off %}{% avatar user 42 %}{% endautoescape %}
                {% with full_name=user.first_name|add:' '|add:user.last_name %}
                  {% if full_name.strip %}
                    {{ full_name | truncatechars:20 }}
                  {% else %}
                    {{ user.username | truncatechars:20 }}
                  {% endif %}
                {% endwith %}
                <i class="fa fa-angle-down fa-lg"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
                <li><a href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
                <li><a href="{% url "messages_inbox" %}">{% trans "Inbox" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "admin:index" %}">{% trans "Admin" %}</a></li>
                {% if 'geonode.geoserver' in INSTALLED_APPS %}
                <li><a href="{% url "proxy" %}?url={{ GEOSERVER_LOCAL_URL }}web">GeoServer</a></li>
                {% endif %}
                {% if user.is_superuser and USE_MONITORING %}
                <li role="separator" class="divider"></li>
                <li><a href="{% url "monitoring:index" %}">{% trans "Monitoring" %}</a></li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="{% url "help" %}">{% trans "Help" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/account/logout/">{% trans "Logout" %}</a></li>
                </ul>
              </li>
		      {% else %}
		      <li><a href="#" data-toggle="modal" data-target="#SigninModal" role="button">
                  <img width="32" height="36" src="{{ STATIC_URL }}ingc_geonode_theme/img/profile-icon-white.png" /></a></li>
              {% endif %}
            </ul>
          </div> <!--/.nav-collapse -->
        </div>
      </nav>
      {% endblock header %}
      <!-- End of Navbar -->

{% block footer %}
  <footer>
    <div class="container footer-margin-left">
      <div class="row">
            <p style="font-size: small; text-align: center; margin-top: 10px">
                &copy; Saravana Ganesh @ 2019
            </p>
      </div>
    </div>
  </footer>
{% endblock footer %}

